#contact{
  background: url("../images/IMG_1823.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  height: 100%;
  width: 100%;
  float: left;
  position: relative;
}

#contact-content{
  @extend %shadow;
  margin: 15% 30% 0;
  background-color: $color-main-text-p-background;
  position: absolute;
  display: block;
  width: 40%;
  border-radius: 40px;
  padding: 2%;
}

#contact-heading{
  padding-top: 3.5%;
  font-size: 2rem;
  color: $color-main-text-p;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
}

#contact-content p{
  color: $color-main-text-p;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  text-align: center;
}

.icon{
  color: $color-main-text-p;
  background-color: none;
  font-size: 2rem;
  margin-right: 2% ;
  margin-left: 2%;
  &:hover{
    color: $light-pink;
  }
  &:focus{
    color: $light-pink;
  }
}

