#home{
  background: url("../images/IMG_1376.jpg") no-repeat center bottom;
  height: 90%;
  width: 100%;
  background-size: cover;
  max-height: 100%;
  color: white;
}

hgroup{
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
}

hgroup h1{
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  color: white;
  margin: 0;
  padding-top: 20%;
  font-family: 'Montserrat', sans-serif;

}

hgroup h3{
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  /*-webkit-animation: pulsate .8s infinite alternate;
    -moz-animation: pulsate .8s infinite alternate;
      -animation: pulsate .8s infinite alternate;*/
}

@-webkit-keyframes pulsate{
  from {opacity: 1;}
  to {opacity: 0;}
}
@-moz-keyframes pulsate{
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes pulsate{
  from {opacity: 1;}
  to {opacity: 0;}
}
