#third-section{
  background: url("../images/IMG_5040.jpg") no-repeat center bottom;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  float: left;
}

#third-section h2{
  color: white;
  text-align: center;
}

.other{
  color: $color-main-text-p;
  background-color: $color-main-text-p-background;
  text-align: left;
  margin: 10% 30%;
  width: 40%;
  z-index: 200;
  position: absolute;
  padding: 10px 20px 5px 20px;
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  @extend %shadow;
}

.slick-slide img{
  margin: 4% auto;
}

figcaption.creative-caption{
  text-align: center;
}
