#second-section{
  background: url("../images/IMG_4132.jpg") no-repeat center bottom scroll;
  background-size: cover;
  height: 100%;
  width: 100%;
  float: left;
  position: relative;
}

#project-group{
  padding-top: 5%;
}

.project-content{
  float: left;
  width: 25%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.project-content img{
  float: left;
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transition: all .6s ease;
  -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
      filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  &:hover{
    transform: scale(1.05);
    -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
        filter: none;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  }
}

.project-content figcaption{
  z-index: 100;
  color: black;
  display: inline;
  text-align: left;
}

figcaption p{
  -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
  margin-top: 100%;
  padding: 10%;
  background-color: $color-main-text-p-background;
  opacity: 0;
  border-radius: 0 0 40px 40px;
}

.project-content a:hover + figcaption p{
  opacity: 1;
}
