//color variables

$mine-shaft   : #333;
$white        : #fff;
$black        : #000;
$light-pink   : pink;

//functional color variables

$color-main-text-p            : $mine-shaft;
$color-main-text-p-background : rgba($white, 0.85);
$color-header-heading         : $white;
