/*-----------------------------HEADER----------------------------------*/

#home{
  background: url("../images/IMG_1376.jpg") no-repeat center center;
  height: 100%;
  width: 100%;
  background-size: cover;
  max-height: 100%;
  color: white;
}

nav{
  position: fixed;
  z-index: 500;
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  display: none;
}

nav ul{
  display: block;
  margin: auto;
  text-align: center;
}

nav ul li{
  display: inline-block;
  font-size: 2rem;
  padding: 5px 25px;
}

nav ul li a{
  color: white;
  padding: 5px 10px;
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

nav ul li a:hover{
  color: rgba(0,0,0,0.6);
}

nav ul li a:focus{
  color: white;
}


.active{
  color: rgba(0,0,0,0.75);
  background-color: rgba(188,188,188, 1);
}

.active:hover{
  color: rgba(0,0,0,0.75);
}

.active:focus{
  color: rgba(0,0,0,0.75);
}

hgroup{
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

hgroup h1{
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  color: white;
  margin: 0;
  padding-top: 20%;
  font-family: 'Montserrat', sans-serif;
}

hgroup h3{
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  -webkit-animation: pulsate .8s infinite alternate;
    -moz-animation: pulsate .8s infinite alternate;
      -animation: pulsate .8s infinite alternate;
}

@-webkit-keyframes pulsate{
  from {opacity: 1;}
  to {opacity: 0;}
}
@-moz-keyframes pulsate{
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes pulsate{
  from {opacity: 1;}
  to {opacity: 0;}
}

/*-----------------------FIRST-SECTION-ABOUT--------------------------------*/

#first-section{
  background: url("../images/index_html.jpg") no-repeat center top fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;

}

.about{
  background-color: rgba(255,255,255,0.85);
  text-align: left;
  margin: 10% 0 0 60% ;
  width: 40%;
  z-index: 200;
  position: absolute;
  padding: 20px;
  border-radius: 40px 0 0 40px;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-shadow: 0 0 30px 5px rgba(34,34,34,.75);
    -moz-box-shadow: 0 0 30px 5px rgba(34,34,34,.75);
      box-shadow: 0 0 30px 5px rgba(34,34,34,.75);
}

.about p{
  font-size: 1.5rem;
  margin: 20px;
  color: #333;
}

/*-----------------------SECOND-SECTION-PROJECTS--------------------------------*/

#second-section{
  background: url("../images/IMG_5040.jpg") no-repeat center bottom scroll;
  background-size: cover;
  height: 100%;
  width: 100%;
  float: left;
  position: relative;
}

#project-group{
  padding-top: 5%;
}

.project-content{
  float: left;
  width: 25%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.project-content img{
  float: left;
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transition: all .6s ease;
  -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
      filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.project-content img:hover{
  transform: scale(1.05);
  -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
      filter: none;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.project-content figcaption{
  z-index: 100;
  color: black;
  display: inline;
  text-align: left;
}

figcaption p{
  -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
  margin-top: 100%;
  padding: 10%;
  background-color: rgba(255,255,255,0.85);
  opacity: 0;
  border-radius: 0 0 40px 40px;
}

.project-content a:hover + figcaption p{
  opacity: 1;
}
/*---------------------------THIRD-SECTION-OTHER--------------------------------*/

#third-section{
  background: url("../images/IMG_4132.jpg") no-repeat center bottom;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  float: left;
}

#third-section h2{
  color: white;
  text-align: center;
}

.other{
  color: white;
  background-color: rgba(250,197,233,0.7);
  text-align: left;
  margin: 10% 30%;
  width: 40%;
  z-index: 200;
  position: absolute;
  padding: 20px;
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-shadow: 0 0 30px 5px rgba(34,34,34,.75);
    -moz-box-shadow: 0 0 30px 5px rgba(34,34,34,.75);
    box-shadow: 0 0 30px 5px rgba(34,34,34,.75);
}

.slick-slide img{
  margin: 4% auto;
}

figcaption.creative-caption{
  text-align: center;
}

/*-------------------------------CONTACT--------------------------------*/

#contact{
  background: url("../images/IMG_1823.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  height: 100%;
  width: 100%;
  clear: both;
  position: relative;
}

#contact-content{
  margin: 18% 30%;
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  display: block;
  width: 40%;
  border-radius: 40px;
  padding: 3%
}

#contact-heading{
  font-size: 2rem;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#contact-content p{
  margin-right: 10px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
}

.icon{
  color: #333;
  background-color: none;
  font-size: 2rem;
  margin-right: 2% ;
  margin-left: 2%;
}

.icon:hover{
  color: pink;
}

.icon:focus{
  color: pink;
}
