html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden;
}


/*-----------------------------HEADER----------------------------------*/

#home{
  background-image: url(../images/polkadot-small.jpg);
  height: 90%;
  width: 100%;
  background-size: cover;
  max-height: 100%;
  color: white;
  position: relative;
}

nav{
  background-image: url(../images/IMG_1376.jpg);
  opacity: 0.7;
  position: fixed;
  z-index: 500;
  background-color: #2A00A2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  top: 0;
  transition: ease 2s;
}

nav.scrolled {
  height: 60px;
}

nav ul{
  display: block;
  margin: auto;
  text-align: right;
  padding: 0;
}

nav ul li{
  display: inline-block;
  font-size: 1.5rem;
  line-height: 60px;
}

nav ul li:last-child {
  padding-right: 40px;
}

nav ul li a{
  color: white;
  padding: 5px 10px;
  font-weight: 400;
  line-height: 60px;
  text-decoration: none;
  transition: ease .4s;
}

nav ul li a:hover{
  color: #FF43FB;
}

nav ul li a:focus{
  color: white;
}

.header {
  margin: auto;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.7;
  background-color: white;
  height: 100%;
}

.header-group {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 35%;
}

.header h1{
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  color: black;
  background-color: white;
  margin-bottom: 10px;
}

.header h3{
  text-align: center;
  color: black;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  font-size: 24px;
}

.clear-fix:after{
  content: "";
  display: table;
  clear: both;
}



/*-----------------------------WORK----------------------------------*/

#work {
  background-color: white;
  padding: 55px 0;
}

.portfolio-container {
  width: 60%;
  margin: 0 auto;
  max-width: 865px;
}

.portfolio-project {
  margin: 55px 0;
}

.portfolio-project__caption {
  float: right;
  width: 60%;
  line-height: 1.5;
  color: black;
  text-rendering: optimizeLegibility;
}

.portfolio-project__caption h1 {
  font-size: 32px;
  padding-bottom: 5px;
  border-bottom: solid black 2px;
}

.portfolio-project__caption h1 span {
  font-size: 16px;
  margin-left: 20px;
}

.portfolio-project__link {
  float: left;
  width:30%;
}

.portfolio-project__image {
  background-color: black;
  background-blend-mode: luminosity;
  width: 250px;
  height: 250px;
  background-size: cover;
  border-radius: 100%;
  border: 2px white solid;
  transition: ease .4s;
}

.portfolio-project__image:hover{
  transform: scale(1.15);
}

#project_image1 {
  background-image: url(../images/grace.jpg);
}

#project_image2 {
  background-image: url(../images/emandsant.jpg);
}

#project_image3 {
  background-image: url(../images/localhost_8000___.jpg);
}

#project_image4 {
  background-image: url(../images/Quadrupeds.jpg);
}

#project_image5 {
  background-image: url(../images/AtAGlance.jpg);
}

#project_image6 {
  background-image: url(../images/About_Emma.jpg);
}



/*-----------------------CONTACT--------------------------------*/

#contact {
  background-image: url(../images/IMG_1376.jpg);
  background-color: #2A00A2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.7;
}

.contact_list {
  padding: 40px 40px;
  color: rgba(52, 1, 30, 1);
  font-size: 1.5rem;
  margin: 0;
  z-index: 7;
  list-style: none;
}

.contact_list li {
  padding-bottom: 2px;
}

.icon:hover {
  color: black;
}

.icon {
  color: rgba(52, 1, 30, 1);
}



/*-----------------------------MEDIA-QUERIES----------------------------------*/

@media screen and (max-width: 1400px) {

  .header h1 {
    font-size: 70px;
    line-height: 1.2;
  }

  .portfolio-container {
    width: 60%;
  }
}

@media screen and (max-width: 1230px) {

   .header h1 {
    font-size: 70px;
  }

  .portfolio-container {
    width: 70%;
  }
}

@media screen and (max-width: 1050px) {

   .header h1 {
    font-size: 70px;
  }

  .portfolio-container {
    width: 80%;
  }
}

@media screen and (max-width: 880px) {
  .header h1 {
    font-size: 60px;
  }

  .header h3 {
    font-size: 22px;
  }

  .portfolio-container {
    width: 90%;
  }

  .portfolio-project__caption {
    width: 55%;
  }

}

@media screen and (max-width: 720px) {
   .header h1 {
    font-size: 50px;
  }

  .header h3 {
    font-size: 20px;
  }

  .portfolio-project {
    margin: 65px 0;
  }

  .portfolio-project__caption {
    float:  none;
    margin: 0 auto;
    width: 70%;
  }

  .portfolio-project__link {
    float: none;
  }

  .portfolio-project__image {
    margin: 0 auto;
  }
}

@media screen and (max-width: 530px) {

  nav ul {
    text-align: center;
  }

  nav ul li:last-child {
    padding-right: 0;
  }

  .header h1 {
    font-size: 40px;
    margin-bottom: 0;
  }

  .header h3 {
    font-size: 18px;
  }

  .portfolio-project {
    margin: 65px 0;
  }

  .portfolio-project__caption {
    float:  none;
    margin: 0 auto;
    width: 90%;
  }

  .portfolio-project__caption h1 span {
    margin-left: 0;
    display: block;
  }

  .portfolio-project__link {
    float: none;
  }

  .portfolio-project__image {
    margin: 0 auto;
  }
}
